---
layout: base.njk
---
<article class="blog-post">
  <h1>{{ title }}</h1>
  <time datetime="{{ date | dateString }}">{{ date | dateFilter }}</time>
  
  {% if thumbnail %}
  <img src="{{ thumbnail }}" alt="{{ title }}の画像">
  {% endif %}
  
  <div class="content">
    {{ content | safe }}
  </div>

  {% if tags %}
  <div class="tags">
    {% for tag in tags %}
      <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
</article>
